root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{json,xml,csproj,props,targets,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = when_multiline:suggestion
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion

dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1707.severity = suggestion
dotnet_diagnostic.CA1848.severity = suggestion
dotnet_diagnostic.CA1861.severity = warning
dotnet_diagnostic.CA1873.severity = suggestion
dotnet_diagnostic.CA2016.severity = warning
dotnet_diagnostic.IDE0161.severity = warning
